# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# Rust / Cargo
/target
**/*.rs.bk

# Env
.env
.env.*
!.env.example

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
